
.modal-fade-in {
    animation: fade-in .5s;
}

.modal-fade-out {
    animation: fade-out .5s;
}

.pop-up {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

    .pop-up>div {
        background-color: var(--mySocketWhite);
        position: relative;
        box-shadow: 0 0 10px var(--mySocketBlack);
        border-radius: 10px;
    }

        .pop-up>div>p {
            font-size: 2.2em;
            position: absolute;
            right: 0;
            top: 0;
            padding: 0 7px 7px 7px;
        }

        .pop-up>div>p:hover {
            cursor: pointer;
        }
    
        .pop-up>div>div {
            background-color: var(--mySocketWhite);
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }

            .pop-up>div>div>section {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-content: center;
            }
    
                .pop-up>div>div>section>h2 {
                    margin-top: 40px;
                }
            
                .pop-up>div>div>section>form {
                    height: 68%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                    .pop-up>div>div>section>form>div {
                        width: 86%;
                    }
            
                    .pop-up>div>div>section>form>input {
                        position: relative;
                        top: 80px;
                        padding: 8px 10px;
                        font-size: 1.1em;
                        border: none;
                        color: var(--mySocketWhite);
                        background-color: var(--mySocketPurple);
                        border-radius: 5px;
                    }

                    .pop-up>div>div>section>form>input:hover {
                        cursor: pointer;
                    }


#add-new-user>div {
    width: 400px;
    height: 420px;
}

#add-new-group>div {
    width: 450px;
    height: 800px;
}

    #add-new-group>div>div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #add-new-group>div>div>hr {
            position: relative;
            bottom: 52px;
            color: var(--mySocketBlack);
            margin-top: 4px;
        }

        #add-new-group>div>div>hr:nth-child(2) {
            width: 60%;
        }

        #add-new-group>div>div>hr:nth-child(3) {
            width: 40%;
            opacity: .8;
        }

        #add-new-group>div>div>hr:nth-child(4) {
            width: 20%;
            opacity: .75;
        }

        #add-new-group>div>div>hr:nth-child(5) {
            width: 10%;
            opacity: .7;
        }

        #add-new-group>div>div>hr:nth-child(6) {
            width: 2%;
            opacity: .65;
        }

        #add-new-group>div>div>section {
            width: 100%;
            height: 360px;
        }

            #add-new-group>div>div>section:last-child>h2 {
                margin-top: 0px;
                font-size: 1.35em;
            }

            #add-new-group>div>div>section>form {
                height: 50%;
            }

                #add-new-group>div>div>section>form>input {
                    top: 60px;
                }

            #add-new-group>div>div>section>div {
                position: relative;
                top: 52px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

                #add-new-group>div>div>section>div>p {
                    font-weight: bold;
                    margin-bottom: 10px;
                    font-size: 1.1em;
                }

                #add-new-group>div>div>section>div>ul {
                    width: 80%;
                    height: 100px;
                    list-style: none;
                    text-align: left;
                    overflow-y: scroll;
                    color: #000;
                    padding: 10px;
                    border: 1px solid var(--mySocketSoftGrey);
                    border-radius: 5px;
                    box-shadow: 0 0 5px var(--mySocketSoftGrey);
                }

                    #add-new-group>div>div>section>div>ul>li {
                        margin-bottom: 3px;
                    }

                    #add-new-group>div>div>section>div>ul>li:not(:first-child) {
                        margin-top: 3px;
                    }