
#head {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
    position: relative;
}

#head>p {
    position: absolute;
    left: 15px;
    font-size: 20px;
    color: var(--mySocketWhite);
}


@media all and (max-width: 860px) {

    #head>p {
        left: initial;
        right: 15px;
        font-size: 18px;
    }    
}