
#home-view {
    width: 100%;
    display: flex;
    flex-direction: row;
}

    #home-view>div {
        width: 50%;
        margin: 10px;
        padding: 10px 0;
    }

        #home-view>div>section h2 {
            font-weight: normal;
        }


#add-new-user {
    height: 220px;
}

#add-new-group {
    margin-bottom: 0;
}

#group-list {
    padding-top: 0;
    margin-top: 0;
}

    #group-list>form {
        margin-top: 0;
    }

    #group-list>p {
        text-align: left;
        padding: 10px;
        font-size: 1.2em;
    }

    #group-list>ul {
        text-align: left;
        padding-left: 20px;
    }

        #group-list>ul>li {
            list-style: none;
        }

        #group-list>form>input {
            padding: 5px;
        }


#shared-room-section {
    margin-top: 40px;
}

.roomSection>h2 {
    margin-bottom: 20px;
}

.roomList {
    width: 100%;
}

    .roomList>div>a,
    .roomList>div>a:visited {
        text-decoration: none;
        color: var(--blue-background);
    }




/* Media Queries */

@media all and (max-width: 600px) {
    
    #home-view {
        flex-direction: column;
        align-items: center;
    }

        #home-view>div>section {
            width: 97%;
            margin: 10px 0;
        }
}