
/*Style Sheet*/

#chat-view,
#chat-view>div,
#chat-view>div>div {
    width: 100%;
    height: 100%;
}

    #chat-view>div>div>h2 {
        position: relative;
        top: 22px;
    }

        #chat-view>div>div>h2>span:last-child {
            margin-left: 10px;
            font-weight: initial;
            font-size: .6em;
        }

    #chat-view>div>div>div {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 160px;
        height: 700px;
        border: solid 1px rgb(177, 177, 177);
        /*border-radius: .5%;*/
        box-shadow: 0 0 12px -4px var(--mySocketPurple);
        overflow-y: scroll;
        overflow-x: hidden;
        scrollbar-width: none;
    }


/*Media Queries*/

@media all and (min-width: 930px) {

    #chat-view>div>div>div {
        left: 100px;
        right: 100px;
    }
}

@media all and (min-width: 1470px) {

    #chat-view>div>div>div {
        left: 250px;
        right: 250px;
    }
}