

.left-msg,
.right-msg {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 1.1em;
}

.right-msg {
    justify-content: right;
    padding-right: 10px;
}

.left-msg {
    padding-left: 10px;
}

    .left-msg>div,
    .right-msg>div {
        max-width: 70%;
        height: 100%;
        padding: 10px;
        word-wrap: break-word; /*Avoid the long word to break the message*/
    }

    .right-msg>div {
        background-color: var(--mySocketPurple);
        border-radius: 12px 0px 12px 12px;
    }

    .left-msg>div {
        background-color: rgba(0, 0, 0, 0.438);
        border-radius: 0px 12px 12px 12px;
    }

        .left-msg>div>p:first-child {
            font-size: .8em;
            margin-bottom: 5px;
        }

        .right-msg>div>p:first-child {
            display: none;
        }

        .left-msg>div>p,
        .right-msg>div>p {
            text-align: left;
            color: #fff;
        }

        .left-msg>div>img,
        .right-msg>div>img {
            max-width: 500px;
        }

.same-user {
    margin-top: 2px;
}

    .same-user>div>p:first-child {
        display: none;
    }

.diff-user {
    margin-top: 15px;
}

    .same-user>div {
        border-radius: 12px;
    }