

.left-msg,
.right-msg {
    width: 100%;
    height: 100%;
    display: flex;

}

.right-msg {
    justify-content: right;
    padding-right: 10px;
}

.left-msg {
    padding-left: 10px;
}

    .left-msg>div,
    .right-msg>div {
        max-width: 80%;
        height: 100%;
        padding: 10px;
        word-wrap: break-word; /*Avoid the long word to break the message*/
    }

    .right-msg>div {
        background-color: var(--blue-background);
        border-radius: 12px 0px 12px 12px;
    }

    .left-msg>div {
        background-color: rgb(90, 90, 90);
        border-radius: 0px 12px 12px 12px;
    }

        .left-msg>div>p,
        .right-msg>div>p {
            text-align: left;
            color: #fff;
        }


.same-user {
    margin-top: 2px;
}

.diff-user {
    margin-top: 15px;
}

    .same-user>div {
        border-radius: 12px;
    }