@charset "UTF-8";

html {
  width: 100%;
  height: 100%;
  /*height: 86%; IMPORTANTE PARA MAQUETAR!!!!*/
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

:root {
  --mySocketBlackPurple: #460080;
  --mySocketDarkPurple: #4f0090;
  --mySocketPurple: #57009e;
  --mySocketWhitePurple: #6f06c5;
  --mySocketBlack: #292929;
  --mySocketGrey: #7c7c7c;
  --mySocketSoftGrey: #dadada;
  --mySocketWhite: #fbfafa;
  --mySocketRed: #d93025;
  --mySocketBlackGreen: #048000;
  --mySocketDarkGreen: #009000;
  --mySocketGreen: #009e00;
}


@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}



.background-purple {
  background-color: var(--mySocketPurple);
}

.letter-blue {
  color: var(--mySocketWhite);
}

.error-msg {
  margin: 5px 0;
  color: var(--mySocketRed);
  font-size: 12px;
  text-align: left;
}

  .error-msg>i {
    font-size: 1.1em;
    padding-right: 4px;
  }

.button-effect:hover {
  cursor: pointer;
  background-color: var(--mySocketDarkPurple);
  color: #fff;
}

.button-effect:hover:focus {
  background-color: var(--mySocketBlackPurple);
}

input:focus {
  outline: none;
}


.formData {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formData>p {
  height: 45px;
  margin-bottom: 15px;
}

  .formData>p>img {
    width: 45px;
    animation: .8s rotate linear infinite;
  }

.formData>div {
  width: 450px;
  height: 510px;
  padding: 20px;
  background-color: var(--mySocketWhite);
  box-shadow: 0 0 12px -4px var(--mySocketPurple);
  border-radius: 10px;
}

.formData>div.transparent {
  opacity: .6;
  transition: all .3s;
}

  .formData>div>div>h1 {
    font-size: 1.3em;
    padding-top: 20px;
    color: var(--mySocketPurple);
  }

  .formData>div>div>h2 {
    margin-top: 13px;
    font-weight: initial;
  }

  .formData>div>div>p {
    margin-top: 10px;
    font-size: 1em;
    color: var(--mySocketBlack);
  }

  .formData>div>div>form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 45px;
  }

    .formData>div>div>form>div:not(:first-child) {
      margin-top: 43px;
    }

    .formData>div>div>form>div:nth-last-child(2) {
      margin-bottom: 20px;
    }

    .formData>div>div>form>p {
      margin-top: 50px;
    }

      .formData>div>div>form>p>a {
        text-decoration: none;
        color: var(--mySocketPurple);
        font-weight: bold;
      }

    .formData>div>div>form>input {
      padding: 10px 12px;
      margin: 40px 0;
      font-size: 1em;
      color: var(--mySocketWhite);
      background-color: var(--mySocketPurple);
      transition: background-color 100ms ease, color 100ms ease;
      border-style: none;
      border-radius: 5px;
      background-clip: padding-box; /* Avoid aliasing */
      border-bottom: 2px solid var(--mySocketWhite);
      border-right: 2px solid var(--mySocketWhite);
      border-top: 1px solid var(--mySocketWhite);
      border-left: 1px solid var(--mySocketWhite);
    }


.inputData {
  width: 93%;
  height: 40px;
  position: relative;
}

    .inputData>input {
      width: 100%;
      height: 100%;
      background-color: var(--mySocketWhite);
      border-style: none;
      border-bottom: 1px solid var(--mySocketGrey);
      border-radius: 2%;
      font-size: 1.2em;
      text-indent: 2px;
    }

    .inputData>input:hover {
      border-bottom-color: var(--mySocketPurple);
    }

    .inputData>input:focus {
      border-bottom: 2px solid var(--mySocketPurple);
    }


.labelDown>label,
.labelUp>label,
.labelDown>input:not(:focus)~label {
  display: block;
  text-align: left;
  color: var(--mySocketGrey);
  position: absolute;
  top: 10px;
  left: 3px;
}

.labelDown>input:not(:focus)~label {
  cursor: text;
}

.labelDown>input:focus~label,
.labelDown>input:not(:focus)~label {
  transition: all .3s;
}

.labelDown>input:focus~label,
.labelUp>label {
  color: var(--mySocketPurple);
  top: -11px;
  left: 0px;
  font-size: .7em;
}

.labelUp>input {
  border-bottom: 2px solid var(--mySocketPurple);
}