
article {
    border: 1px black solid;
    padding: 15px;
    margin-top: 10px;
    border-color: rgb(177, 177, 177);
    border-radius: 2%;
}

article:not(:active) {
    box-shadow: 0 0 5px -2px var(--mySocketPurple);
}

article:hover {
    box-shadow: 0 0 12px -2px var(--mySocketPurple);
}

article:active {
    box-shadow: inset 0 0 7px var(--mySocketPurple);
}

#home-view>section h3 {
    font-weight: normal;
}