
article {
    width: 99%;
    padding: 18px 0;
    background-color: var(--mySocketWhite);
    border-radius: 8px;
    box-shadow: 0 0 8px var(--mySocketGrey);
}

article:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--mySocketPurple);
    transition: box-shadow .3s;
}

    article>h3 {
        font-size: 1.4em;
        color: var(--mySocketPurple);
    }